body {
    background-image: url('./alexander-volkanovski.webp');
    color:white;
    font-family: "Jersey 25", sans-serif;
  }

  .question{
    margin-top: 20%;
  }

  .input{
    display: flex;
    margin-left:auto;
  }

  .suggestions{
    color:dodgerblue;
    margin-left:90%;
  }

  #fighterslist{
    cursor:pointer;
  }

  @media (max-width:700px){
    
  }

  /* use this code to cetner stuff horizontally */

  /* margin-left:auto;
  margin-right:auto;
  display:block; */