body {
    background-image: url('./alexander-volkanovski.webp');
    color:white;
    font-family: "Jersey 25", sans-serif;
  }

  .question{
    margin-top: 20%;
  }

  .input{
    display: flex;
    margin-left:auto;
  }

  .suggestions{
    color:dodgerblue;
    margin-left:90%;
  }

  #fighterslist{
    cursor:pointer;
  }

  @media (max-width:720px){
    .question{font-size:175%;}
    body{background-position:center;}
  }

  /* use this code to cetner stuff horizontally */

  /* margin-left:auto;
  margin-right:auto;
  display:block; */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }